

body{
    background-color: #999999;
    .container{
        margin: 10vh auto 10vh;
        a{
            &:link{
                color: #ffffff;
                text-decoration: none;
            }
            &:visited{
                color: #ffffff;
            }
            &:hover{
                color: #999999;
                background-color: #ffffff;
                text-decoration: none;
            }
            &:active{
                color: #ffffff;
                background-color: #999999;
            }
        }
    }
}